<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Predecir
    </div>
    <form [formGroup]="formgroup" novalidate (ngSubmit)="submitForm()">


      <div class="card-body">
        <div class="form-group row" style="background-color: #e8f0ff">
          <label class="col-md-3 col-form-label" for="inline-radios">Área</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-3" id="areainline">
              <input class="form-check-input" type="radio" formControlName="area" id="area1" [value]="0">
              <label class="form-check-label" for="area1">Urbano</label>
            </div>
            <div class="form-check form-check-inline col-md-3">
              <input class="form-check-input" type="radio" formControlName="area" id="area2" [value]="1">
              <label class="form-check-label" for="area2">Rural</label>
            </div>

          </div>
        </div>
        <div class="form-group row" style="background-color: #ffffe8">
          <label class="col-md-3 col-form-label" for="inline-radios">Riesgo de deslizamiento</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-2" id="inline-radios">
              <input class="form-check-input" type="radio" formControlName="riesgo_deslizamiento" id="riesgo_deslizamiento1" [value]="1">
              <label class="form-check-label" for="riesgo_deslizamiento1">Muy bajo</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="riesgo_deslizamiento" id="riesgo_deslizamiento2" [value]="2">
              <label class="form-check-label" for="riesgo_deslizamiento2">Bajo</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="riesgo_deslizamiento" id="riesgo_deslizamiento3" [value]="3">
              <label class="form-check-label" for="riesgo_deslizamiento3">Medio</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="riesgo_deslizamiento" id="riesgo_deslizamiento4" [value]="4">
              <label class="form-check-label" for="riesgo_deslizamiento4">Alto</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="riesgo_deslizamiento" id="riesgo_deslizamiento5" [value]="5">
              <label class="form-check-label" for="riesgo_deslizamiento5">Muy alto</label>
            </div>
          </div>
        </div>
        <div class="form-group row" style="background-color: #e8f0ff">
          <label class="col-md-3 col-form-label" for="inline-radios">Riesgo de inundación evaluado por el MINAM </label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-3" id="inline-radios">
              <input class="form-check-input" type="radio" formControlName="riesgo_inundacion" id="riesgo_inundacion1" [value]="0">
              <label class="form-check-label" for="riesgo_inundacion1">No</label>
            </div>
            <div class="form-check form-check-inline col-md-3">
              <input class="form-check-input" type="radio" formControlName="riesgo_inundacion" id="riesgo_inundacion2" [value]="1">
              <label class="form-check-label" for="riesgo_inundacion2">Sí</label>
            </div>

          </div>
        </div>
        <div class="form-group row" style="background-color: #ffffe8">
          <label class="col-md-3 col-form-label" for="inline-radios">Riesgo de movimiento de masas</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-2" id="inline-radios">
              <input class="form-check-input" type="radio" formControlName="mov_masas" id="mov_masas1" [value]="1">
              <label class="form-check-label" for="mov_masas1">Muy bajo</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="mov_masas" id="mov_masas2" [value]="2">
              <label class="form-check-label" for="mov_masas2">Bajo</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="mov_masas" id="mov_masas3" [value]="3">
              <label class="form-check-label" for="mov_masas3">Medio</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="mov_masas" id="mov_masas4" [value]="4">
              <label class="form-check-label" for="mov_masas4">Alto</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="mov_masas" id="mov_masas5" [value]="5">
              <label class="form-check-label" for="mov_masas5">Muy alto</label>
            </div>
          </div>
        </div>
        <div class="form-group row" style="background-color: #e8f0ff">
          <label class="col-md-3 col-form-label" for="inline-radios">Riesgo de inundación evaluado por el INGEMMET</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-2" id="inline-radios">
              <input class="form-check-input" type="radio" formControlName="inundacion" id="inundacion1" [value]="1">
              <label class="form-check-label" for="inundacion1">Muy bajo</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="inundacion" id="inundacion2" [value]="2">
              <label class="form-check-label" for="inundacion2">Bajo</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="inundacion" id="inundacion3" [value]="3">
              <label class="form-check-label" for="inundacion3">Medio</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="inundacion" id="inundacion4" [value]="4">
              <label class="form-check-label" for="inundacion4">Alto</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" formControlName="inundacion" id="inundacion5" [value]="5">
              <label class="form-check-label" for="inundacion5">Muy alto</label>
            </div>
          </div>
        </div>
        <div class="form-group row" style="background-color: #ffffe8">
          <label class="col-md-3 col-form-label" for="inline-radios">Infraestructura muy mala</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-3" id="inline-radios">
              <input class="form-check-input" type="radio" formControlName="infra_niv_i" id="infra_niv_i1" [value]="0">
              <label class="form-check-label" for="infra_niv_i1">No</label>
            </div>
            <div class="form-check form-check-inline col-md-3">
              <input class="form-check-input" type="radio" formControlName="infra_niv_i" id="infra_niv_i2" [value]="1">
              <label class="form-check-label" for="infra_niv_i2">Sí</label>
            </div>

          </div>
        </div>
        <div class="form-group row" style="background-color: #e8f0ff">
          <label class="col-md-3 col-form-label" for="inline-radios">Infraestructura mala</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-3" id="inline-radios">
              <input class="form-check-input" type="radio" formControlName="infra_niv_ii" id="infra_niv_ii1" [value]="0">
              <label class="form-check-label" for="infra_niv_ii1">No</label>
            </div>
            <div class="form-check form-check-inline col-md-3">
              <input class="form-check-input" type="radio" formControlName="infra_niv_ii" id="infra_niv_ii2" [value]="1">
              <label class="form-check-label" for="infra_niv_ii2">Sí</label>
            </div>

          </div>
        </div>
        <div class="form-group row" style="background-color: #ffffe8">
          <label class="col-md-3 col-form-label" for="inline-radios">Infraestructura regular o buena </label>
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline col-md-3" id="inline-radios">
              <input class="form-check-input" type="radio" formControlName="infra_niv_iii" id="infra_niv_iii1" [value]="0">
              <label class="form-check-label" for="infra_niv_iii1">No</label>
            </div>
            <div class="form-check form-check-inline col-md-3">
              <input class="form-check-input" type="radio" formControlName="infra_niv_iii" id="infra_niv_iii2" [value]="1">
              <label class="form-check-label" for="infra_niv_iii2">Sí</label>
            </div>

          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" [disabled]="loading" class="btn btn-sm btn-primary">
          <i class="fa" [ngClass]="{ 'fa-spinner fa-spin' : loading, 'fa-dot-circle-o': !loading }"></i> Predecir</button>
      </div>
    </form>
  </div>
</div>